@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .feature-grid {
    display: grid;
    grid-template-areas:
      "acc acc acc acc acc acc time time time time time time"
      "acc acc acc acc acc acc time time time time time time"
      "acc acc acc acc acc acc time time time time time time"
      "acc acc acc acc acc acc time time time time time time"
      "imp imp imp imp imp imp imp imp view view view view"
      "imp imp imp imp imp imp imp imp view view view view"
      "imp imp imp imp imp imp imp imp view view view view"
      "imp imp imp imp imp imp imp imp view view view view"
      "imp imp imp imp imp imp imp imp view view view view"
      "imp imp imp imp imp imp imp imp view view view view";
  }
  @media (max-width: 768px) {
    .feature-grid {
      display: grid;
      grid-template-rows: repeat(4, auto) !important;
      grid-template-areas:
        "acc"
        "time"
        "imp"
        "view" !important;
    }
  }
  .grid-time {
    grid-area: time;
  }
  .grid-acc {
    grid-area: acc;
  }
  .grid-view {
    grid-area: view;
  }
  .grid-impact {
    grid-area: imp;
  }
}
